<nav class="navbar navbar-expand-sm navbar-dark bg-dark" >

       
    <a class="navbar-brand" href="#">
            <img id="img" src="assets/img/img.png" width="60" height="60" alt="">
        
        <font color="turquoise" >
            YourMusic
        </font>
        
     </a>




  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link text-info" routerLink="home">
              <font color="turquoise" >
                  Home
              </font>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-info" routerLink="search">
              <font color="turquoise" >
                  Search
              </font>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-info" routerLink="about">
                <font color="turquoise" >
                    About
                </font>
            </a>
          </li>

   
      </ul>

    </div>

   


    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" routerLinkActive="active">
            <i class="fas fa-search fa-2x puntero" routerLink="search"></i>
                   

                    &nbsp;&nbsp;&nbsp;
          
          
          
        </div>

        <div class="btn-group">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
        </div>
        </div>



  </nav>